{% extends 'layout.html' %}

{% block content %}

  <h1>Balance</h1>

  <table class="balance">

  {% for name, info in accounts.items() %}
    <tr>
      <th><a href="{{ url_for('.person', name=name) }}">{{ name }}</a></th>
      <td>{{ info.balance|money }}</td>
    </tr>
  {% endfor %}

  <tr class="total">
    <th>total</th>
    <td>{{ accounts.values()|sum(attribute='balance')|money }}</td>
  </tr>

  </table>

  <p class="lead">
    Latest order:
    {% set latest_order_date = (orders|sort)[-1] %}
    {% set url = url_for('.order', order_date_str=latest_order_date|string) %}
    <a href="{{ url }}">{{ latest_order_date }}</a>
  </p>

{% endblock %}
