{% extends 'layout.html' %}

{% block content %}

  <h1>Person: {{ name }}</h1>

  <table class="history">

    <thead>
      <th>Date</th>
      <th>Note</th>
      <th>Value</th>
    </thead>

    <tbody>

    {% for entry in history %}
      <tr>
        <td>{{ entry['date'] }}</td>
        <td>
          {% if entry['order_date'] %}
          {% set order_url = url_for('.order',
              order_date_str=entry['order_date']|string) %}
            <a href="{{ order_url }}">{{ entry['description'] }}</a>
          {% else %}
            {{ entry['description'] }}
          {% endif %}
        </td>
        <td>{{ entry['value']|money }}</td>
      </tr>
    {% endfor %}

    <tr class="total">
      <td>Total</td>
      <td></td>
      <td>{{ history|sum(attribute='value')|money }}</td>
    </tr>

    </tbody>

  </table>

{% endblock %}
