{% extends 'layout.html' %}

{% block content %}

  <h1>Person: {{ name }}</h1>

  <table class="history">

    <thead>
      <th>Date</th>
      <th>Note</th>
      <th>Value</th>
    </thead>

    <tbody>

    {% for entry in history %}
      <tr>
        {% set order_url = url_for('.order',
            order_date_str=entry['order_date']|string) %}
        <td>{{ entry['date'] }}</td>
        <td><a href="{{ order_url }}">{{ entry['description'] }}</a></td>
        <td>{{ entry['value']|money }}</td>
      </tr>
    {% endfor %}

    <tr class="total">
      <td>Total</td>
      <td></td>
      <td>{{ history|sum(attribute='value')|money }}</td>
    </tr>

    </tbody>

  </table>

{% endblock %}
